In [26]:
import mysql.connector
from mysql.connector import Error
import random


try:
        
        connection = mysql.connector.connect(
            host='localhost',     
            user='root', 
            password='Khalid@123',
            auth_plugin='mysql_native_password' 
        )
        cursor = connection.cursor()

        cursor.execute("CREATE DATABASE  IF NOT EXISTS Ecommerce")
        print("Database created successfully")

        cursor.execute("USE Ecommerce")

                                                                    #table 1
        cursor.execute('''create table if not exists customer(
                        customer_id int primary key,
                        name varchar(50),
                        phone_no int unique,
                        email varchar(50) unique,
                        address int(50));''')




                                                                    #table 2
        cursor.execute('''create table if not exists address(
                       address_id int primary key,
                       address_1 varchar(50),
                       address_2 varchar(50),
                       state varchar(50),
                       city varchar(50),
                       pincode int not null,
                       customer int,
                       constraint fk_customer
                       foreign key (customer) References customer(customer_id)
                           On  delete cascade
                           on update cascade );''')




                                                                   # add foreign key to customer table 
        # cursor.execute('''
        #               ALTER TABLE  customer
        #               ADD CONSTRAINT fk_address
        #               FOREIGN KEY (address) references address(address_id)  
        #               ON DELETE cascade
        #               ON UPDATE cascade;''')





                                                                    #table 3
        cursor.execute('''create table if not exists product(
                       product_id int primary key,
                       name varchar(50),
                       price int ,
                       stock int,
                       size varchar(10),
                       brand int);''')
           
                                                                   #table 4

        cursor.execute('''create table if not exists brand(
                       brand_id int primary key,
                       type varchar(50));''')
        


                                                                # add foriegn key to product table
        
        # cursor.execute('''
        # ALTER TABLE product
        # ADD CONSTRAINT fk_brand
        # FOREIGN KEY (brand) references brand(brand_id)  
        # ON DELETE cascade
        # ON UPDATE cascade;''')


                                                                # table 5

        cursor.execute(''' create table if not exists otp(
                       otp_id int primary key,
                       otp int unique,
                       otp_issued timestamp,
                       otp_valid timestamp,
                       customer int,
                       constraint fk_customer_otp
                       foreign key (customer) references customer(customer_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE );
                       ''')   
                                                                # table 6
        cursor.execute('''create table if not exists payments(
                       payment_id int primary key,
                       status varchar(50),
                       date timestamp,
                       method varchar(50),
                       amount decimal (10,4),
                       orders int unique);
                       ''')
        
                                                                # add foreign key to payments table

        # cursor.execute('''alter table payments 
        #                add constraint fk_order
        #                foreign key (orders) references orders(order_id)''')



        cursor.execute('''create table if not exists cancel(
                       cancel_id int primary key ,
                       reason varchar(50),
                       status varchar(50),
                       refund varchar(50));''')

        cursor.execute(''' create table if not exists orders(
                       order_id int primary key,
                       date timestamp,
                       shipping_address varchar(50),
                       total_amount decimal(10,4),
                       status varchar(50),
                       payment int ,
                       constraint fk_payment
                       foreign key (payment) references payments(payment_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       customer int,
                       constraint fk_customer_order
                       foreign key (customer) references customer(customer_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       cancel int(50),
                       constraint fk_cancel
                       foreign key (cancel) references cancel(cancel_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE);''')
        

        cursor.execute('''create table if not exists whishlist(
                       whishlist_id int primary key,
                       customer int,
                       constraint fk_customer_whishlist
                       foreign key (customer) references customer(customer_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       product int,
                       constraint fk_customer_product
                       foreign key (product) references product(product_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       saved timestamp
                       );''')
        

        cursor.execute('''create table if not exists recently(
                       recently_id int primary key,
                       customer int,
                       constraint fk_customer_recently
                       foreign key (customer) references customer(customer_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       product int,
                       constraint fk_customer_productr
                       foreign key (product) references product(product_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       viewed timestamp
                       );''')
        
        cursor.execute('''create table if not exists coupon(
                       coupon_id int primary key,
                       orders int,
                       constraint fk_order_coupon
                       foreign key (orders) references orders(order_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       validity timestamp
                       );''')
        

        cursor.execute('''create table if not exists sale(
                       sale_id int primary key,
                       product int,
                       constraint fk_customer_products
                       foreign key (product) references product(product_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       amount int);''')
        
        cursor.execute('''create table if not exists order_items(
                       order_item_id int primary key,
                       orders int,
                       product int,
                       quantity int,
                       price decimal(10,4),
                       constraint fk_orders
                       foreign key (orders) references orders(order_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE,
                       constraint fk_products
                       foreign key (product) references product(product_id)
                       ON DELETE CASCADE
                       ON UPDATE CASCADE);''')
        
        cursor.execute('commit;')

        cursor.execute('ALTER TABLE customer MODIFY phone_no VARCHAR(15);')
        


    # Clear existing data from tables
        cursor.execute("SET FOREIGN_KEY_CHECKS = 0;")  # Disable foreign key checks
        cursor.execute("TRUNCATE TABLE order_items;")
        cursor.execute("TRUNCATE TABLE sale;")
        cursor.execute("TRUNCATE TABLE coupon;")
        cursor.execute("TRUNCATE TABLE recently;")
        cursor.execute("TRUNCATE TABLE whishlist;")
        cursor.execute("TRUNCATE TABLE otp;")
        cursor.execute("TRUNCATE TABLE payments;")
        cursor.execute("TRUNCATE TABLE orders;")
        cursor.execute("TRUNCATE TABLE product;")
        cursor.execute("TRUNCATE TABLE address;")
        cursor.execute("TRUNCATE TABLE customer;")
        cursor.execute("TRUNCATE TABLE brand;")
        cursor.execute("TRUNCATE TABLE cancel;")  # Ensure cancel table is also truncated
        cursor.execute("SET FOREIGN_KEY_CHECKS = 1;")  # Re-enablensert dummy data into brand table first (no foreign keys)
        for i in range(1, 11):
            cursor.execute(f'''
                INSERT INTO brand (brand_id, type) 
                VALUES ({i}, 'Brand {i}');
            ''')
            # Insert dummy data into customer table (without address reference)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO customer (customer_id, name, phone_no, email) 
                VALUES ({i}, 'Customer {i}', '123456789{i}', 'customer{i}@example.com');
            ''')
            # Insert dummy data into address table (foreign key: customer)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO address (address_id, address_1, address_2, state, city, pincode, customer) 
                VALUES ({i}, 'Address 1-{i}', 'Address 2-{i}', 'State-{i}', 'City-{i}', {100000 + i}, {i});
            ''')
            # Update customer table to set the address reference
        for i in range(1, 101):
            cursor.execute(f'''
                UPDATE customer 
                SET address = {i} 
                WHERE customer_id = {i};
            ''')
            # Insert dummy data into cancel table (only for a subset of orders)
        canceled_orders = random.sample(range(1, 101), k=30)  # Randomly select 30 orders to cancel
        for i in canceled_orders:
            cursor.execute(f'''
                INSERT INTO cancel (cancel_id, reason, status, refund) 
                VALUES ({i}, 'Reason for cancellation of order {i}', 'Cancelled', 'Yes');
            ''')
            # Insert dummy data into product table (foreign key: brand)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO product (product_id, name, price, stock, size, brand) 
                VALUES ({i}, 'Product {i}', {i * 10}, {100 - i}, 'Size-{i % 5}', {i % 10 + 1});
            ''')
            # Insert dummy data into orders table (initially with NULL for payment and cancel)
        for i in range(1, 101):
            cancel_id = i if i in canceled_orders else 'NULL'  # Set cancel_id if the order is canceled, otherwise use NULL
            cursor.execute(f'''
                INSERT INTO orders (order_id, date, shipping_address, total_amount, status, payment, customer, cancel) 
                VALUES ({i}, NOW(), 'Shipping Address {i}', {i * 100.0}, 'Shipped', NULL, {i}, {cancel_id if cancel_id != 'NULL' else 'NULL'});
            ''')
            # Insert dummy data into payments table (initially with NULL for orders)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO payments (payment_id, status, date, method, amount, orders) 
                VALUES ({i}, 'Completed', NOW(), 'Credit Card', {i * 20.5}, NULL);
            ''')
            # Now update the orders table to set the correct payment IDs
        for i in range(1, 101):
            cursor.execute(f'''
                UPDATE orders 
                SET payment = {i} 
                WHERE order_id = {i};
            ''')
            # Now update the payments table to set the correct order IDs
        for i in range(1, 101):
            cursor.execute(f'''
                UPDATE payments 
                SET orders = {i} 
                WHERE payment_id = {i};
            ''')
            # Insert dummy data into otp table (foreign key: customer)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO otp (otp_id, otp, otp_issued, otp_valid, customer) 
                VALUES ({i}, {123456 + i}, NOW(), NOW() + INTERVAL 5 MINUTE, {i});
            ''')
            # Insert dummy data into whishlist table (foreign keys: customer, product)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO whishlist (whishlist_id, customer, product, saved) 
                VALUES ({i}, {i}, {i % 100 + 1}, NOW());
            ''')
            # Insert dummy data into recently table (foreign keys: customer, product)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO recently (recently_id, customer, product, viewed) 
                VALUES ({i}, {i}, {i % 100 + 1}, NOW());
            ''')
            # Insert dummy data into coupon table (foreign key: orders)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO coupon (coupon_id, orders, validity) 
                VALUES ({i}, {i}, NOW() + INTERVAL 30 DAY);
            ''')
            # Insert dummy data into sale table (foreign key: product)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO sale (sale_id, product, amount) 
                VALUES ({i}, {i % 100 + 1}, {i * 5});
            ''')
            # Insert dummy data into order_items table (foreign keys: orders, product)
        for i in range(1, 101):
            cursor.execute(f'''
                INSERT INTO order_items (order_item_id, orders, product, quantity, price) 
                VALUES ({i}, {i}, {i % 100 + 1}, {i}, {i * 10.0});
            ''')
            # Commit the changes
        connection.commit()
except Error as e:
   print(f"Error: {e}")
finally:
   if connection.is_connected():
       cursor.close()
       connection.close()
       print("MySQL connection is closed")

IndentationError: unexpected indent (720219586.py, line 221)